# Virtual Environments
.venv/
env/
venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build & Package artifacts
build/
dist/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db
